@import "utilities";
@import "config";

%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    // width:  50px;

    &:hover{
        transform: scale(1.20);
    }
}

#start{
    @extend %btn;
    @include set-bg(lighten($button-color, 10%));
}
#nextbtn{
    @extend %btn;
    @include set-bg(lighten($button-color2, 10%));
}

.buttons { 
    @extend %btn;
    @include set-bg(lighten($button-color, 10%));
}

.correct {
    background-color: rgb(7, 201, 7);
    color: black;
  }
  
.wrong {
    background-color: rgb(210, 69, 69);
  }

.buttonContr button{
    border-radius: 20px;
    font-size: 50px;
    flex-grow: 0;
    flex-shrink: 1;
  
    align-items: center;
    
}
.buttonContr{
    gap: 10px;
   
    display: grid;
    grid-template-columns: repeat(2, auto);
    flex-grow: 0;
    flex-shrink: 1;
}

.controlbtn, #nextbtn, #start{
    font-size: 50px;
    padding: 10px;
   
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 20px;
}