$font-stack: Trebuchet MS, Arial, sans-serif;
$primary-color: #a59c1f;
$secondary-color: #a2d0fc;
$light-color: #ffc300;
$button-color: #1d7730;
$button-color2: #4f95a1;
$box-shadow:2px 40px 90px 1px rgb(14, 36, 43);
$border-color: rgb(242, 242, 242);