* {
    box-sizing: border-box;
    /* google font bellow */
    font-family: 'Caveat Brush', cursive;
    /* flex-direction: column; */
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    /* max-width:  100vh; */
    /* align-items: center; */
    /* margin: auto; */
    
    /* width: 100vh; */
    
}

body{
    background: linear-gradient(#152945 10%,#4186e6);
    padding: 20px;
    display: flex;
    margin: 0;
    /* height: 100vw; */
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
/* container box */
.container{
    background: radial-gradient(#e9deac,#ffd100);
    border: 8px solid;
    border-color: rgb(242, 242, 242);
    box-shadow: 2px 40px 90px 1px rgb(14, 36, 43);
    border-radius: 25px;
    padding: 10px;
    width: 800px;
    /* max-width: 80%; */
    text-align: center;
    
    /* flex-grow: 2; */
    /* flex-shrink: 1; */
    /* width: 800px; */
    /* max-width: 80%; */
    /* height: 600px; */
    
}
/* Title */
.titleQuestion {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    color: rgb(204, 62, 26);
    text-shadow: 1px 0 rgb(255, 252, 252), 5px 1px rgb(253, 251, 251), 1px 0px rgb(11, 1, 1), 0 -1px rgb(28, 14, 14);
    margin-top: 5px;
    margin-bottom: 0px;
    Font-size: 110px;
}
/* question */
.question{
  
    color: white;
    font-size: 100px;
    flex-grow: 0;
    flex-shrink: 1;

}
/* answers buttons */
.buttonContr button{
    border-radius: 20px;
    font-size: 50px;
    background-color: #6ea2eb;
    flex-grow: 0;
    flex-shrink: 1;
    /* margin: 20px 0; */
    align-items: center;
    
}

.buttonContr{
    gap: 10px;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    flex-grow: 0;
    flex-shrink: 1;
}
/* next buttom and lets start button */
.controlbtn, .nextbt, #start{
    font-size: 50px;
    padding: 10px;
    /* margin-top: 3em; */
    /* margin-bottom: 1px; */
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 20px;
}
.nextbt{
    background-color: #6ea2eb;
}
#start{
    background-color: 	#78E078;
}
.buttons:hover,  .nextbt:hover{
    background-color:#99b5dc ;
}
.buttons:active, .nextbt:active{
    background-color: #93a2b6;
}

#start:hover{
    background-color: 	#6fb76f;
   
}


img{
    width:300px;
    margin: -.5em;
    border-radius: 20px;
}
/* .hide{
    display: none;
} */